@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.name {
  margin-left: 20px;
  font-weight: bolder;
  font-size: 4vmin !important;
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 5vmin;
  text-align: center;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  border-bottom: 8px solid rgb(211, 211, 211);
}
.navbar-element {
  position: relative;
  margin-left: 3vmin;
  margin-right: 3vmin;
  font-size: 3vmin;
}


.navbar-element::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.05rem;
  background-color: black;
  left: 0;
  bottom: 0;
  transform: scale(0,1);
  transition: transform 0.3s ease;
}
.navbar-element:hover::after {
  transform: scale(1,1);
}

.picture-section {
  background-color: rgb(223, 207, 181);
  margin-top: 2vmin;
  padding-top: 8vmin;
  padding-bottom: 6vmin;
}

.my-image {
  width: 50vmin;
  height: 50vmin;
  display: block;
  margin-top: 15vmin;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 5vmin;
}
.center {
  text-align: center;
}

.marginTop {
  margin-top: 5vmin;
}

.lightblue {
  background-color: #D6EAF8;
  padding: 10vmin;
  padding-bottom: 11vmin;
}

.type-writer {
  background-color: rgb(223, 207, 181);
  width: 100%;
  padding-bottom: 11vmin;
  height: 100%;
}

.sub-header {
  position: relative;
  padding-top: 20vmin;
  margin-bottom: 10vmin;
  border-bottom: 5px solid black;
}

.Hike-Pic {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.s {
  height: 500px;
}

.lightred {
  background-color: lightsalmon;
  padding: 10vmin;
}
.card-bg {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  border-radius: 16px;
  transition: 0.2s;
  transform-style: preserve-3d;
  min-width: 525px;
  width: 100%;
  min-height: 400px;
  height: 100%;
  border: 0px solid;
  margin-bottom: 15vmin;
  overflow: hidden;
}

.card-bg:hover {
  background-color: #eeeeee;
}

.card-button {
  margin-bottom: 5vmin;
}

.card-description-bg {
  text-align: left;
}

.card-description-bg p {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  text-align:left;
}

.font-20px {
  font-size: 20px;
}


.font-25px {
  font-size:25px;
}

.font-30px {
  font-size:30px;
}

.padding {
  position: relative;
  bottom: 10px;
}

.lightgreen {
  background-color: rgb(175, 253, 175);
  padding: 10vmin;
}

.resume-pdf {
  width: 100%;
  height: 750px;
}

.lightblack {
  background-color: #1C2833;
  color: white;
  border-top: 10px solid #2C3E50;
  padding: 10px;
}


